{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h2>Welcome To <i>iNitroY-Deep</i></h2>
    <p class="lead"> Certain amino acids within proteins are particularly sensitive to oxidation by reactive oxygen and nitrogen species. Nitration of Amino Acids, causing post translational modifications, is induced by the combined action of reactive oxygen and nitrogen species i.e. the addition of a nitro group onto aromatic residues. An important Nitration related PTM is Nitro Tyrosine.
    <p class="lead"> Increased levels of Nitro Tyrosine have been reported in pathological conditions including systemic autoimmune diseases, inflammation, neurodegeneration, cardiovascular disorder and, worse of all, carcinogenesis (cancers) and tumor growth progression.
    <p class="lead"> Model deployed in this server can predict NitroTyrosine sites in protein sequences with increased accuracy using Deep Convolutional Neural Network (CNN) based Classifier.</p></p>
  </div>
{% endblock %}
